---
title: Real Stone Veneer | Natural Stone Products
meta:
  title: Norstone | Real Stone Veneer | Natural Stone Products
  description: Norstone supplies beautiful, simple, high-end Natural Stone Veneers
    at exceptionally cost-effective prices. Explore our diverse selection of colors,
    styles, and sizes.

slides:
- h1: true
  image: /assets/images/slides/Norstone-Graphite-Stone-Veneers-on-Blue-Federal-Credit-Union.webp
  image_mobile: "/assets/images/slides/Norstone-Natural-Stone-Planc-Basalt-Grey-Tile.webp"
  caption: Norstone Natural Stone Veneer Products
  link:
    text: Shop Our Products
    href: products/
- image: /assets/images/slides/Norstone-Charcoal-Rock-Panels-Grey-Exterior-Stacked-Stone-Feature-Wall.webp
  image_mobile: "/assets/images/slides/veneer-stone-panel-fireplaces-mobile-banner.webp"
  caption: Beautiful Stone Panels that are a Breeze to Install.
  link:
    text: Shop Rock Panels
    href: products/stacked-stone-cladding/
- image: /assets/images/slides/Norstone-Stone-Veneer-Tile-Hallway.webp
  image_mobile: "/assets/images/slides/norstone-modern-basalt-tiles-in-grey-for-courtyards.webp"
  caption: Architecturally Crafted Natural Stone Walls.
  link:
    text: Shop Planc Series
    href: products/large-format-stone-veneer/
- image: /assets/images/slides/Norstone-Charcoal-Standard-Series-Rock-Panel.webp
  image_mobile: "/assets/images/slides/norstone-grey-stone-veneer-panel-siding.webp"
  caption: Natural Stone Designs for Stunning Spaces.
  link:
    text: Browse Galleries
    href: gallery/
- image: /assets/images/slides/Norstone-Ochre-Blend-Stacked-Stone-Veneer-Feature-Walls_0.webp
  image_mobile: "/assets/images/slides/norstone-stone-veneer-panels-used-in-pool-water-feature.webp"
  caption: From Fireplace to Feature Wall, elevate your space.
  link:
    text: View Applications
    href: gallery/application/
- image: /assets/images/slides/Norstone-Ochre-Blend-Rock-Panels-Ledgestone-Veneer-Fireplace.webp
  image_mobile: "/assets/images/slides/norstone-stone-veneer-feature-wall-lobby-denver-2.webp"
  caption: Save Time. Save Cost. Love your project.
  link:
    text: Installation Guide
    href: how-to-install-stacked-stone/
- image: /assets/images/slides/Norstone-White-Quartz-Stacked-Stone-Veneer-Used-In-A-Dining-Room-Stairwell.webp
  image_mobile: "/assets/images/slides/norstone-modern-white-stone-fireplace.webp"
  caption: Fine Natural Stone Veneers for Interior Design.
  link:
    text: View Interiors
    href: gallery/application/interiors/
- image: /assets/images/slides/Norstone-Ochre-Blend-Rock-Panels-Exterior-Stacked-Stone-Column.webp
  image_mobile: "/assets/images/slides/norstone-stone-veneer-stairs-denver.webp"
  caption: Norstone Natural Stone Veneer. Redefine Rugged.
  link:
    text: View Exteriors
    href: gallery/application/exteriors/
- image: /assets/images/slides/Norstone-White-Quartz-Stacked-Stone-Rock-Fireplace-Surround.webp
  image_mobile: "/assets/images/slides/norstone-cream-stone-veneer-wine-cellar-feature-wall.webp"
  caption: Norstone's Original Stacked Stone Veneer System.
  link:
    text: Shop Rock Panels
    href: products/stacked-stone-cladding/
- image: /assets/images/slides/Charcoal---Residential---Niagara-Falls-Feature-Home---Stacked-Stone-Facade-3.webp
  image_mobile: "/assets/images/slides/norstone-white-stacked-stone.webp"
  caption: The world's most advanced natural stone systems.
  link:
    text: Shop All Products
    href: products/
- image: /assets/images/slides/Norstone-Ivory-Quartz-Thin-Stone-Veneers-For-Fireplace-Feature-Walls.webp
  image_mobile: "/assets/images/slides/norstone-aztec-stone-veneer-backsplash.webp"
  caption: Natural Stacked Stone Veneer for any occassion.
  link:
    text: View Fireplaces
    href: gallery/application/fireplace/
- image: /assets/images/slides/Norstone-Ochre-Blend-Stacked-Stone-Water-Feature.webp
  image_mobile: "/assets/images/slides/norstone-basalt-3d-panel-feature-wall-dallas.webp"
  caption: Be Inspired by Norstone Natural Stone Products.
  link:
    text: View Pool Projects
    href: gallery/application/pools/
- image: /assets/images/slides/Norstone-Charcoal-Rock-Panels-Commercial-Ledgestone-Fireplace.webp
  image_mobile: "/assets/images/slides/norstone-stone-veneer-concert-hall.webp"
  caption: Thin Stone Veneer at a fraction of the cost.
  link:
    text: Shop XL Panels
    href: products/thin-stone-veneer-panels/
layout: default
schema:
  "@context": http://schema.org
  "@type": Website
  name: Norstone
  alternateName: Norstone Veneers
  url: http://www.NorstoneUSA.com

---
<div class="slider-main show-for-small-only" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay: 8000">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span></button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span></button>
    {% for slide in page.slides %}
    <li class="{% if forloop.index0==0 %}is-active {% endif %} orbit-slide">
      <div style="background-image: url('{{ slide.image_mobile }}'); background-repeat: no-repeat"></div>
      <figcaption class="orbit-caption x-large">
        <div class="row columns" style="font-family: 'Open Sans'">
          <a alt="View Norstone Product" class="float-right text-shadow box-shadow-center button--main" href="{{ site.url }}/{{ slide.link.href }}" role="button">{{ slide.link.text }}</a>{{ slide.caption }}
        </div>
      </figcaption>
    </li>
    {% endfor %}
  </ul>
  <div class="row columns">
    <nav class="orbit-bullets">
      {% for slide in page.slides %}
      <button data-slide="{{ forloop.index0 }}"{% if forloop.index0 == 0 %} class="is-active"{% endif %} aria-label="Go to slide {{forloop.index}}">
        <span class="show-for-sr"></span>
        {% if forloop.index0 == 0 %}<span class="show-for-sr">Current slide</span>{% endif %}
      </button>
      {% endfor %}
    </nav>
  </div>
</div>
<div class="slider-main show-for-medium" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay: 8000">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span></button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span></button>
    {% for slide in page.slides %}
    <li class="{% if forloop.index0==0 %}is-active {% endif %} orbit-slide">
      <div style="background-image: url('{{ slide.image }}'); background-repeat: no-repeat"></div>
      <figcaption class="orbit-caption x-large">
        <div class="row columns" style="font-family: 'Open Sans'">
          <a alt="View Norstone Product" class="float-right text-shadow box-shadow-center button--main" href="{{ site.url }}/{{ slide.link.href }}">{{ slide.link.text }}</a>
          {% if slide.h1 %}
          <h1 style="margin-bottom:0">{{ slide.caption }}</h1>
          {% else %}
          <h2 style="margin-bottom:0">{{ slide.caption }}</h2>
          {% endif %}
        </div>
      </figcaption>
    </li>
    {% endfor %}
  </ul>
  <div class="row columns">
    <nav class="orbit-bullets">
      {% for slide in page.slides %}
      <button data-slide="{{ forloop.index0 }}"{% if forloop.index0 == 0 %} class="is-active"{% endif %}>
        <span class="show-for-sr"></span>
        {% if forloop.index0 == 0 %}<span class="show-for-sr">Current slide</span>{% endif %}
      </button>
      {% endfor %}
    </nav>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns" style="background: url(/assets/images/theme/divider-vertical.png) no-repeat center right scroll transparent; margin-bottom: 30px">
    <h2><a href="/products/stacked-stone-cladding" class="medium color-primary" style="font-size: 22px">Stone Veneer Rock Panel System</a></h2>
    <p>Norstone <em>Rock Panels</em> are a proven <a href="/products/stacked-stone-cladding">stacked stone &amp; ledgestone panel</a> system. Offering <a href="/how-to-install-stacked-stone/">lighting-fast installation</a>, our stone veneer is perfectly suited to interior & exterior design for both residential & commercial projects. Natural stone panels have never been easier to work with than they are with our Rock Panel system. For the modern design-minded, try our new <a href="/products/large-format-stone-veneer/">Large Format Stone Veneer</a>, PLANC™</p>
    <p class="text-center">
      <a href="/products/stacked-stone-cladding">
        <img loading="lazy" class="orbit-image" src="/assets/images/slides/Norstone-Ochre-Blend-Rock-Panel-Stacked-Stone-Veneer-Panel.png" title="Norstone Ochre Blend Stacked Stone Veneer" alt="Norstone Ochre Blend Stacked Stone Veneer for Feature Walls, Fireplaces, Backsplashes, and Retaining Walls" loading="lazy" width="283" height="144">
      </a>
    </p>
    <a href="/products/stacked-stone-cladding" title="View Norstone's Rock Panel System" class="x-small color-secondary float-right">View Our Rock Panel System <img width="12" height="9" src="/assets/images/theme/arrows-img.png" alt="arrows-img" title="arrows-img.png" loading="lazy"/></a>
  </div>
  <div class="medium-4 columns" style="background: url(/assets/images/theme/divider-vertical.png) no-repeat center right scroll transparent; margin-bottom: 30px">
    <h2><a href="/gallery/project" class="medium color-primary" style="font-size: 22px">Norstone's Featured Projects</a></h2>
    <p>Norstone's <a href="/products">natural stone wall</a> cladding products are used extensively throughout the world by Architects, Designers, and Builders to create innovative designs for <a href="/gallery/application/pools/">water features</a>,
      <a href="/gallery/application/natural-stone-feature-walls">feature walls</a>, <a href="/gallery/application/fireplace">stacked stone tile fireplaces</a>, <a href="/gallery/application/backsplash/">backsplashes</a>, luxury outdoor environments, and masonry landscape walls. Browse our <a href="/gallery/project/">Featured Projects Gallery</a> to see some of our most distinguished work.</p>
    <p class="text-center">
      <a href="/gallery/project">
        <img loading="lazy" class="orbit-image" src="/assets/images/slides/Norstone-Stacked-Stone-Veneer-Used-In-Commercial-Buildings.jpg" title="Norstone Natural Stone Ledgestone Veneer for Commercial Buildings" alt="Norstone Natural Stone Ledgestone Veneer for Commercial Buildings and Facades" loading="lazy" width="283" height="144">
      </a>
    </p>
    <a href="/gallery/project" title="View Collection" class="x-small color-secondary float-right">View Our Featured Projects Gallery <img width="12" height="9" src="/assets/images/theme/arrows-img.png" alt="arrows-img" title="arrows-img.png" loading="lazy"/></a>
  </div>
  <div class="medium-4 columns" style="margin-bottom: 30px">
    <h2><a href="/products/lynia-mosaic-tiles/" class="medium color-primary" style="font-size: 22px"><img width="41" height="15" src="/assets/images/unsorted/NEW3.png" alt="Basalt Tiles" title="NEW3.png" /> Lynia™ InterLocking Tiles</a></h2>
    <p>Norstone is excited to announce its latest linear stone sensation, the Lynia™ IL Tile. Hewn from luxurious honed marble or <a href="/products/lynia-mosaic-tiles/basalt">cooled lava</a>, the modern styling of our Lynia™ IL Tile is perfect for
      <a href="/gallery/application/kitchen/">modern kitchens</a>, backsplashes, pools, <a href="gallery/application/showers/">showers</a>, ourdoor environments, and retaining walls which are seeking a clean linear style for a contemporary design with natural stone veneer.</p>
    <p class="text-center">
      <a href="/products/lynia-mosaic-tiles/">
        <img loading="lazy" class="orbit-image" src="/assets/images/slides/Norstone-Basalt-Interlocking-Tile-for-wall-cladding.jpg" alt="Norstone Basalt Interlocking Tiles for Modern Kitchens, Backsplashes, Pools, Showers and Retaining Walls" title="Norstone Basalt Interlocking Tiles" loading="lazy" width="283" height="144">
      </a>
    </p>
    <a href="/products/lynia-mosaic-tiles/" title="View Norstone's Featured Product" class="x-small color-secondary float-right">View Our Lynia™ IL Tile System <img width="12" height="9" src="/assets/images/theme/arrows-img.png" alt="arrows-img" title="arrows-img.png" loading="lazy"/></a>
  </div>
</div>
