<div class="column">
  <div class="card">
    <a class="card--image" href="{{ site.url }}/{{ item.link }}">
      {%- if forloop.index > 4 -%}
        {%- assign load = "lazy" -%}
        {%- else -%}
        {%- assign load = "eager" -%}
      {%- endif -%}
      
      {% picture gallery /{{ item.image }} 
         --img 
         loading="{{load}}" 
         width="448" height="235" 
         --alt {{ item.title }} %}
    </a>
    <a class="card--title color-primary uppercase" href="{{ site.url }}/{{ item.link }}">{{ item.title }}</a>
    <a href="{{ site.url }}/{{ item.link }}" class="card--type {{ item.type }}">
    {% if item.type == 'project-gallery' %}
      {{ item.type_text }}
    {% elsif item.type == 'app-gallery' %}
      Application Gallery
    {% else %}
      Product Gallery
    {% endif %}
  </a>
  </div>
</div>
