<div class="footer">

  <div class="row">
    <div class="columns small-12 medium-6 large-5">
      <div class="footer__site-description">
        <p>Norstone creates the world's most fashionable natural stone walls.<br />Let's talk about your project.</p>
      </div>
      <div class="footer__contact-info">
        <button class="button button--main footer__contact-info__contact-button">Contact Us Today</button>
        <span class="footer__contact-info__phone">866 717 4548</span>
      </div>
    </div>

    <div class="columns small-12 medium-6 large-7">
      <div class="row">
        <div class="columns small-12 medium-6">
          <div class="link-list">
            <p class="link-list__header">Company</p>
            <ul class="link-list__list">
              <li class="link-list__list-item">
                <a href="/project-registration">Register a Project</a>
              </li>
              <li class="link-list__list-item">
                <a href="/blog">Blog</a>
              </li>
              <li class="link-list__list-item">
                <a href="/faq">FAQ</a>
              </li>
              <li class="link-list__list-item">
                <a href="/contact-us">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="columns small-12 medium-6">
          <div class="link-list">
            <p class="link-list__header">Products</p>
            <ul class="link-list__list">
              <li class="link-list__list-item">
                <a href="/products/stacked-stone-cladding">Rock Panels</a>
              </li>
              <li class="link-list__list-item">
                <a href="/products/thin-stone-veneer-panels">XL Rock Panels</a>
              </li>
              <li class="link-list__list-item">
                <a href="/products/lynia-mosaic-tiles">Basalt IL Tiles</a>
              </li>
              <li class="link-list__list-item">
                <a href="/products/aksent-modern-tiles">Basalt 3D Panels</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="columns small-12 medium-6 end">
          <div class="link-list">
            <p class="link-list__header">Project Galleries</p>
            <ul class="link-list__list">
              <li class="link-list__list-item">
                <a href="/gallery/application/fireplace">Fireplaces</a>
              </li>
              <li class="link-list__list-item">
                <a href="/gallery/application/interiors">Interiors</a>
              </li>
              <li class="link-list__list-item">
                <a href="/gallery/application/exteriors">Exteriors</a>
              </li>
              <li class="link-list__list-item">
                <a href="/gallery/application/kitchen">Kitchens</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 medium-8 large-9">
      <div class="footer__copyright-info">
        <p>All content, images, and website material Copyright 2013 Norstone USA. All rights reserved.</p>
      </div>
    </div>

    <!-- TODO: Find a better way to do this with just CSS instead of double markups -->
    <div class="columns small-12 medium-4 large-3">
      <ul class="footer__other-links menu align-right show-for-medium">
        <li>
          <a href="/privacy-policy">Privacy Policy</a>
        </li>          
        <li>
          <a href="/terms-of-use">Terms</a>
        </li>
        <li>
          <a href="/sitemap.xml">Sitemap</a>
        </li>
      </ul>
      <ul class="footer__other-links menu align-left show-for-small-only">
        <li>
          <a href="/sitemap.xml">Sitemap</a>
        </li>
        <li>
          <a href="/terms-of-use">Terms</a>
        </li>
        <li>
          <a href="/privacy-policy">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>

</div>
<script type="text/javascript" src="/js/norstone.js"></script>
<script type="text/javascript" src='https://crm.zoho.com/crm/javascript/zcga.js'> </script>
<script type="text/javascript" src="//static.getclicky.com/js"></script>
<script type="text/javascript">try{ clicky.init(66453525); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66453525ns.gif" /></p></noscript>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1041901231;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="Google Remarketing" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1041901231/?guid=ON&amp;script=0"/>
</div>
</noscript>
