<div class="footer">

  <div class="row">
    <div class="columns small-12 medium-6 large-5">
      <div class="footer__site-description">
        <div class="footer__site-description__header">
          <p>| Why Norstone?</p>
        </div>
        <div class="footer__site-description__body">
          <p>At Norstone, our goal is simple: to make amazing natural stone veneer the way you want it. You get great quality service with a great quality product. Guaranteed. We'll work tirelessly to create the project of your dreams, all in a timely manner, and all made using the highest quality natural stone materials around the world.</p>
          <p>Speak with one of our <span style=font-weight:bold>design consultants</span> about your project today.</p>
        </div>
      </div>
      <div class="footer__contact-info">
        <button class="button button--main footer__contact-info__contact-button">Contact Us Today</button>
        <a class="footer__contact-info__phone" href="tel:+18772109248">877 210 9248</a>
      </div>
    </div>

    <div class="columns small-12 medium-6 large-7">
      <div class="row">

        <div class="columns small-12 medium-6">
          <div class="link-list product-link-list">
            <p class="link-list__header">Shop our Products</p>
            <ul class="link-list__list">
              <li class="link-list__list-item">
                <a href="/products/stacked-stone-cladding">Rock Panels</a>
              </li>
              <li class="link-list__list-item">
                <a href="/products/thin-stone-veneer-panels">XL Rock Panels</a>
              </li>
              <li class="link-list__list-item">
                <a href="/products/lynia-mosaic-tiles">Lynia™ IL Tiles</a>
              </li>
              <li class="link-list__list-item">
                <a href="/products/aksent-modern-tiles">Aksent™ 3D Panels</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="columns small-12 medium-6">
          <div class="link-list gallery-link-list">
            <p class="link-list__header">Browse our Galleries</p>
            <ul class="link-list__list">
              <li class="link-list__list-item">
                <a href="/gallery/application/fireplace">Fireplaces</a>
              </li>
              <li class="link-list__list-item">
                <a href="/gallery/application/interiors">Interiors</a>
              </li>
              <li class="link-list__list-item">
                <a href="/gallery/application/exteriors">Exteriors</a>
              </li>
              <li class="link-list__list-item">
                <a href="/gallery/application/kitchen">Kitchens</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="columns small-12 medium-6 end">
          <div class="link-list">
            <p class="link-list__header">Resources</p>
            <ul class="link-list__list">
              <li class="link-list__list-item">
                <a href="/how-to-install-stacked-stone/">Installation Guide</a>
              </li>
              <li class="link-list__list-item">
                <a href="/faq">FAQ</a>
              </li>
              <li class="link-list__list-item">
                <a href="/blog">Blog</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="columns small-12 medium-6">
          <div class="link-list">
            <p class="link-list__header">&nbsp;</p>
            <ul class="link-list__list">
              <li class="link-list__list-item">
                <a href="/client-testimonials">What our Customers Have to Say</a>
              </li>
              <li class="link-list__list-item">
                <a href="/contact-us">Contact Us</a>
              </li>
              <li class="link-list__list-item">
                <a href="/project-registration">Register a Project</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 medium-8 large-9">
      <div class="footer__copyright-info">
        <p>All content, images, and website material Copyright {{ site.time | date: '%Y' }} Norstone USA. All rights reserved.</p>
      </div>
    </div>

    <!-- TODO: Find a better way to do this with just CSS instead of double markups -->
    <div class="columns small-12 medium-4 large-3">
      <ul class="footer__other-links menu align-right show-for-medium">
        <li>
          <a href="/privacy-policy">Privacy Policy</a>
        </li>
        <li>
          <a href="/terms-of-use">Terms</a>
        </li>
        <li>
          <a href="/sitemap.xml">Sitemap</a>
        </li>
      </ul>
      <ul class="footer__other-links menu align-left show-for-small-only">
        <li>
          <a href="/sitemap.xml">Sitemap</a>
        </li>
        <li>
          <a href="/terms-of-use">Terms</a>
        </li>
        <li>
          <a href="/privacy-policy">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>

</div>
