<div id="header">
  <div class="row">
    <div class="large-6 columns">
      <a href="/" title="Home" rel="home" id="logo">
        <img id="_logo6" itemprop="logo" src="/assets/images/unsorted/norstone_natural_stacked_stone_logo(8).png" alt="Home" title="Norstone Natural Stacked Stone Veneers Logo" />
      </a>
      <div class="hamburger is-open hide-for-large" data-toggle="offCanvas" role="button" aria-label="Toggle menu">
        <div class="top"></div>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
          <path class="circle" fill="none" stroke-width="4" stroke-miterlimit="10" d="M16,32h32c0,0,11.723-0.306,10.75-11
            c-0.25-2.75-1.644-4.971-2.869-7.151C50.728,7.08,42.767,2.569,33.733,2.054C33.159,2.033,32.599,2,32,2C15.432,2,2,15.432,2,32
            c0,16.566,13.432,30,30,30c16.566,0,30-13.434,30-30C62,15.5,48.5,2,32,2S1.875,15.5,1.875,32" />
        </svg>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="large-6 columns show-for-large">
      <div class="row columns" style="padding: 10px 0 3px">
        {% include social-media-list.html %}
      </div>
      <div class="row columns">
        <p class="browse-products text-right" style="margin-bottom: 8px"><a href="/products/" style="color: #4fb1d5; font-size: 12px; font-family:helvetica">Browse Product Series</a></p>
        <p class="how-to-buy text-right">
          <a href="tel:8772109248">
            <span class="phone-number">
              Phone: <span content="+18772109248">+1 (877) 210 9248</span>
            </span>
          </a>
          <a href="/how-to-buy/">
            <button class="button--howToBuy" title="Learn how to buy">How to buy</button>
          </a>
        </p>
      </div>
    </div>
    
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "url": "https://www.norstoneusa.com",
        "image": "https://www.norstoneusa.com/assets/images/unsorted/norstone_natural_stacked_stone_logo(8).png",
        "name": "Norstone",
        "telephone": "877-210-9248",
        "description": "At Norstone, our goal is simple: to make amazing natural stone veneer the way you want it.",
        "priceRange": "$$$",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "NY",
          "addressCountry": "US"
        }
      }
      </script>
    
  </div>
</div>
