<ul id="social-media-list" class="float-right menu">
  <li>
    <a href="https://pinterest.com/source/norstoneusa.com/" target="_blank">
      <img
        class="socialMediaList__iconImage"
        src="/assets/images/unsorted/pinterest2.png"
        alt="Norstone Pinterest"
        title="Norstone Pinterest"
      />
    </a>
  </li>
  <li>
    <a href="https://www.houzz.com/pro/norstoneusa/norstoneusa" target="_blank">
      <img
        class="socialMediaList__iconImage"
        src="/assets/images/unsorted/houzzbadge20_20_2-copy.png"
        alt="Remodeling and Home Design"
        title="Remodeling and Home Design"
      />
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/NorstoneUSA" target="_blank">
      <img
        class="socialMediaList__iconImage"
        src="/assets/images/theme/social-icons-facebook.png"
        alt="Facebook"
        title="Facebook"
      />
    </a>
  </li>
  <li>
    <a href="https://twitter.com/stackedstone" target="_blank">
      <img
        class="socialMediaList__iconImage"
        src="/assets/images/theme/social-icons-twitter.png"
        alt="Twitter"
        title="Twitter"
      />
    </a>
  </li>
  <li>
    <a href="/blog" target="_blank">
      <img
        class="socialMediaList__iconImage"
        src="/assets/images/unsorted/Blog.png"
        alt="Flickr"
        title="Blog.png"
      />
    </a>
  </li>
</ul>