<div class="topBar show-for-medium">
  <div class="topBar__container enterByFloatingDown">
    <div
      class="topBar__leftText"
      title="We serve clients nationwide, call us at (877) 210-9248 to reserve your samples."
    >
      Now serving clients nationwide, call us at <a class="link" href="tel:+18772109248">(877) 210-9248</a> to reserve your samples today
    </div>
    <div
      class="topBar__rightText"
      title="Request a sample"
    >
      <a class="link--small" href="/contact-us/">Request a sample</a>
    </div>
  </div>
</div>
