<div class="topBar">
  <div class="topBar__container enterByFloatingDown">
    <div class="topBar__leftText">
      <span
        class="topBar__textForMedium"
        title="We serve clients nationwide, call us at (877) 210-9248 to reserve your samples."
      >
        Serving clients nationwide, call us at <a class="link" href="tel:+18772109248">(877) 210-9248</a> to reserve your samples today
      </span>
      <span
        class="topBar__textForSmall"
        title="Questions? Call (877) 210-9248 for assistance with your project"
      >
        Questions? Tap <a class="link" href="tel:+18772109248">(877) 210-9248</a> for help today!
      </span>
    </div>
    <div
      class="topBar__rightText"
      title="Request a sample"
    >
      <a class="link--small" href="/contact-us/">Request a sample</a>
    </div>
  </div>
</div>
