<div class="topBar">
  <div class="topBar__container startLiftedAndTransparent">
    <div
      class="topBar__leftText"
      title="We serve clients nationwide, call us at (855) 696-9802 to reserve your samples."
    >
      We serve clients nationwide, call us at <a class="link" href="tel:+18556969802">(855) 696-9802</a> to reserve your samples.
    </div>
    <div
      class="topBar__rightText"
      title="Request a sample"
    >
      <a class="link--small" href="/how-to-buy/">Request a sample</a>
    </div>
  </div>
</div>
